            body {
                background-color: #1f262a;
            }
            div.middle {
                display: flex;
                height: 90vh;
                justify-content: center;
            }
            button {
                padding: 10px;
                outline-style: outset;
                outline-color: #0169f2;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                background-color: #01357a;
                color: #ffc107;
            }
            div.center {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span {
                padding: 10px;
                color: #ffc107;
            }
            div.box {
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
            }
