body {
  background-color: #1f262a;
  color: #fff;
}
p.header {
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}
p.script {
  font-family: Verdana, Geneva, sans-serif;
}
p.time {
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 14px;
}
